.navbar{
    width:100%;
    display: flex;
    background-color:#333333;
    margin:0;
}

#logo{
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
    border-radius: 5rem;
}

#logo:hover{
    cursor: pointer;
}

#WIKI_HEADING{
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-family: "Lora";
    font-size: 3.5em;
    padding-left: 10px;
    margin: 0.5rem;
    cursor: pointer;
}

p:hover{
    cursor: pointer;
}

#about_button{
    text-decoration:none;
    border: 0.1rem solid #333333;
    margin: 1.2rem 1rem 1.2rem 30rem;
    font-size: 1.1em;
    padding: 1rem 0.8rem;
    border-radius: 1.5rem;
    background-color: #333333;
    color: white;
    transition: 500ms;

}

#about_button:hover{
    color: black;
    background:  white;
}

#illustration_button{
    text-decoration:none;
    border: 0.1rem solid #333333;
    margin: 1.2rem 1rem 1.2rem 0.4rem;
    font-size: 1.1em;
    padding: 1rem 0.8rem;
    border-radius: 1.5rem;
    background-color: #333333;
    color: white;
    transition: 500ms;
}

#illustration_button:hover{
    color: black;
    background:  white;
}
#upload_button{
    text-decoration:none;
    border: 0.1rem solid #333333;
    margin: 1.2rem 1rem 1.2rem 0.4rem;
    font-size: 1.1em;
    padding: 1rem 0.8rem;
    border-radius: 1.5rem;
    background-color: #333333;
    color: white;
    transition: 500ms;
}

#upload_button:hover{
    color: black;
    background:  white;
}
#login_button:hover{
    color: black;
    background:  white;
}

#login_button{
    text-decoration:none;
    border: 0.1rem solid #333333;
    margin: 1.2rem 1rem 1.2rem 0.4rem;
    font-size: 1.1em;
    padding: 1rem 0.8rem;
    border-radius: 1.5rem;
    background-color: #333333;
    color: white;
    transition: 500ms;
}